{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Recipes App Home
  </title>
  <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
  <h1 class="header_1">
    Welcome to our Recipes App
  </h1>
  <br>
  <br>
  <h3 class="header_2"><a href="recipes/list/"> List </a></h3>
  <br>
  <center><img src="{% static 'recipes/images/recipes.jpg' %}" alt="home" width="450" height="300"></center>
</body>

</html>